<!DOCTYPE html>
<html>
    <head>
        <title>My Home</title>
        <style>
            body{
                background-image: url('static/images/stock_copyright.jpg');
                background-size: cover;
                background-repeat: no-repeat;
            }
            h1{color: white}
            p1{color: wheat;}
        </style>
    </head>
    <body>
        <!-- Enable the contents -->
        <h1> Welcome to your Home </h1>
        <p1> This is where you find your interests </p1>
        <button type="button">Explore Now!</button>
    </body>
</html>